@use "../../common/styles/search-bar-module" as search-bar-module;

.search-header {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-around;
}

.search-bar {
  $search-bar-icon-img: url(../images/Search_Icon.svg);
  $search-bar-icon-size: 1.5rem;
  $search-bar-shadow: none;
  $search-bar-cursor: text;

  @include search-bar-module.search-bar-template(
    $search-bar-icon-size,
    $search-bar-shadow,
    $search-bar-cursor,
  );
  background-image: $search-bar-icon-img;
}
