<div class="todos-container">
  <div class="search-header">
    <input [formControl]="search"
      class="search-bar"
      type="text"
      name="todosSearchInput"
      id="todosSearchInput"
      placeholder="Type here to search"
      data-testId="search-input">
  </div>
  <ul *ngIf="viewModel$ | async as viewModel"
    class="todos-list"
    data-testId="todos-list">
    <li *ngFor="let item of viewModel.todos | todosSearchFilter: viewModel.searchInput">
      {{ item.title }}
    </li>
  </ul>
  <div *ngIf="errorMessageAction$ | async as errorMessage"
    class="alert alert-danger error-message">
    {{ errorMessage }}
  </div>
</div>
