<div *ngLet="{
  errorMessageAction: errorMessageAction$ | async,
  results: results$ | async,
  searchText: searchText$ | async
} as state"
class="todos-container">
  <div class="search-header">
    <input [formControl]="search"
      class="search-bar"
      type="text"
      name="todosSearchInput"
      id="todosSearchInput"
      placeholder="Type here to search"
      data-testId="search-input">
  </div>
  <div *ngIf="state.errorMessage; else searchResults"
    class="alert alert-danger error-message">
    {{ state.errorMessage }}
  </div>
  <ng-template #searchResults>
    <ul *ngIf="state.results"
      class="todos-list"
      data-testId="todos-list">
      <li *ngFor="let item of state.results"
        [innerHTML]="item.title | emphasizePattern: state.searchText"></li>
    </ul>
  </ng-template>
</div>
