<div *ngLet="{
  showsAutocomplete: showsAutocomplete$ | async,
  selectedValue: selectedValue$ | async
} as state"
class="dropdown-container">
  <ui-todos-autocomplete
    *ngIf="state.showsAutocomplete; else searchDropdown"
    [sourceUrls]="sourceUrls"
    [selectedTodoTitle]="state.selectedValue"
    (itemSelected)="onItemSelected($event)"
    (close)="closeAutocomplete()"
  ></ui-todos-autocomplete>
  <ng-template #searchDropdown>
    <input [(ngModel)]="state.selectedValue"
      (click)="showAutocomplete($event)"
      class="search-bar"
      type="text"
      data-testId="search-input"
      readonly>
  </ng-template>
</div>

